* {
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100vh;
}
nav {
    width: 100%;
    height: 8vh;
    background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul {
    display: flex;
    list-style: none;
}
ul li a {
    justify-content: space-between;
    margin: 20px;
    text-decoration: none;
    color: black;
}
#menu {
    display: flex;
}
#hamburger img {
    width: 40px;
    display: none;
}
@media only screen and (max-width: 600px) {
    
    #hamburger img {
        display:block;
    }
    #menu .links-links {
        display: none;
    }
    .ham-menu {
        display: flex;
        flex-direction: column-reverse;
    
    }
    .ham-links {
       position: absolute;
       right: 0;
       top: 50px;
       height: 100px;
       font-size: 20px;
       background-color: rgba(70, 70, 70, 0.603);
       padding: 10px 15px;
       border: none;
    }
    .ham-links ul {
        flex-direction: column;
    }
    .ham-links ul a {
        color: white;
    }
    .ham-links ul li:hover {
        background-color:rgba(70, 70, 70, 0.342);
    }
}